<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <ul>
            <li>
                <a href="https://github.com/gabriellisboa/gabiroto" target="_blank">Personal page</a>
            </li>
            <li>
                <a href="https://github.com/gabriellisboa/node-studies" target="_blank">Nodejs studies</a>
            </li>
        </ul>
        {{> footer}}
    </body>
</html>
